
JaasClientUnitTest {
    com.sun.security.auth.module.Krb5LoginModule
    required;
};

JaasServiceUnitTest {
        com.sun.security.auth.module.Krb5LoginModule
        required
        storeKey = true
        useKeyTab =  true
        keyTab =  "/Users/zoro/postgre.keytab"
        isInitiator = false
        ;
};
